# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        distribution: adopt
        java-version: 8
        check-latest: true
        settings-path: ${{ github.workspace }}
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2-
    - name: Build with Maven
      run: >
        mvn
        --show-version
        --batch-mode
        --activate-profiles ci
        --file pom.xml
        --settings $GITHUB_WORKSPACE/settings.xml
        clean
        compile
        test-compile
        -U
    - name: Verify with Maven
      run: >
        mvn
        --show-version
        --batch-mode
        --activate-profiles ci
        --file pom.xml
        --settings $GITHUB_WORKSPACE/settings.xml
        verify
        -U